@{
    ViewData["Title"] = "About";
}

<div class="col-md-6 p-0">
    <div class="card">
        <div class="login-box">
            <div class="login-snip">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">About App</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up" disabled style="display:none;"><label for="tab-2" class="tab"></label>
                <div class="login-space">
                    <div class="login">
                        <br /><br />
                        <label style="font-size: 18px;" class="label">
                            The infinite monkey theorem states that a monkey pressing random keys on a keyboard for an infinite
                            period of time will eventually be able to type any given text, for example Shakespeare's Hamlet.
                            To represent this, use a <b>Generic Algorithm (A.I.)</b> to reconstruct a sentence, similar to how subtitles on the fly work,
                            in which the "monkeys" work to reconstruct the sentence.
                        </label>
                        <br /><br />
                        <div class="group" style="">
                            <ul style="display: inline-block;
                                        font-size: 18px;
                                        text-align: left;
                                        width: 400px; background: rgba(255, 255, 255, .1);
                                        background-color: rgba(255, 255, 255, .1);
                                        border-radius: 10px;
                                        color: #aaab;">
                                <li style="margin:10px;"><label id="lblHome_Generations">Emilio Filotti, Software Engineer</label></li>
                            </ul>
                            <div class="hr"></div>
                        </div>
                        <div class="sign-up-form">
                            <br /><br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>